.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.square {
  margin: 0 auto 5%;
  height: 0;
  width: 95%;
  padding-bottom: 95%; /* = width for a 1:1 aspect ratio */
  border-radius: 5px;
}

.jumbotron {
  margin-top: 15px;
}

.grey {
  background-color: #E6E6E6;
}

.teal {
  background-color: #63C59F;
}

.green {
  background-color: #99CD48;
}

.pink {
  background-color: #CF6272;
}

.purple {
  background-color: #6A7EC8;
}

.blue {
  background-color: #5FAFDA
}

.red {
  background-color: #C35B4B;
}

.yellow {
  background-color: #F4B83F;
}

.orange {
  background-color: #D88745;
}
